.front-panel{
    width: 200px;
    height: 400px;
    background-color: #275485;
    float: left;
    position: absolute;
    right: 0px;
}

.back-panel{
    width: 400px;
    height: 400px;
    background-color: #337ab7;
    position: relative;
}

.main{
    width: 400px;
    margin: auto;
    position: relative;
}

.slide-in-out-button{
    width: 30px;
    height: 39px;
    background-color: #97A63A;
    position: absolute;
    right: -10px;
    z-index: 1;
    cursor: hand;
}

.stud-tr {
}

.stud-td{
    position: relative;
    padding: 0px!important;
}

.stud-wide-info{
    position: absolute;
    color: white;
    padding: 8px;
    width: 100%;
}

.stud-wide-info:hover{
    cursor: hand;
    background-color: #275485;
}

.stud-wide-info-drop-panel{
    position: absolute;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}

.stud-table{
    position: absolute;
}

.stud-cell{
    /*position: relative;*/
    margin: 8px;
}

.selected-row{
    background-color: #275485;
    /*position: absolute;*/
}