#body {
    border-left: 1px solid #eee;
}

/*---------TEST FORM-----------------------*/
.input-field-full-width {
    width: 100%;
}

/*---------END TEST FORM-----------------------*/
/*---------QUESTION FORM-----------------------*/
.question-form {
    margin-top: 20px;
}

.question-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add-ans-button {
    float: right;
}

.answer .checkbox {
    margin: 5px;
}

.answer-field {
    margin: 20px;
}

.vresize {
    resize: vertical;
}

/*---------END QUESTION FORM-----------------------*/

.question-button {
    margin: 3px;
    padding: 0;
    width: 34px;
    height: 34px;
}

.finish-test-button {
    margin: 10px 5px 5px 15px;
    width: 100%;
    font-weight: bold;
}

.missed {
    background-color: #b71d18;
}

.answered {
    background-color: #337ab7;
}

.current {
    background-color: #aeada7;
}

